[draggable=true] {
 cursor: move;
}
.center-div {
	text-align: center;
	margin: auto;
	width: 100%;
	height: 500px;
}
body, html {
    height: 100%;
	margin: 0px;
}
#demo {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
}
#demo>div {
    display: table-cell;
    vertical-align: middle;
}
#divMain { /* Main element that fits the whole screen size */
	display: table;
	position: absolute;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
}
#divMiddle { /* Middle element that vertically aligns the content to the middle */
	display: inline-block;
	vertical-align: middle;
}
#divInner { /* Inner element to horizontally align the element to the middle */
	margin: 40px auto;
	width: 80em;
	display: inline-block;
}
#div1 { /* Avatar Collection */
	display: flex;
	justify-content: center;
	margin: 0 auto;
	width: 80%;
	height: 100px;
	padding: 10px;
	z-index: 100;
	position: relative;
}
#div2 { /* Avatar Drop Zone */
	margin: 10px auto 0px auto;
	height: 280px;
	width: 280px;
	position: relative;
	top: -80px;
	background-image: url(../images/dropzone.png);
	z-index: 20;
}
#div3 { /* Login Form */
	margin: 10px auto 0px auto;
	height: 80px;
	width: 300px;
	text-align: center;
	position: relative;
	top: -80px;
	z-index: 30;
	position: relative;
}
.avatar {
	height: 100px;
	width: 100px;
}
.img {
	float: left;
	margin: 1em;
	border-radius: 50%;
	border: 2px solid #333;
}
#drag1 {
	float: left;
	display: inline-block;
	padding: 0px;
	margin: 0px;
}
#drag2 {
	float: left;
	display: inline-block;
	padding: 0px;
	margin: 0px;
}
#drag3 {
	float: left;
	display: inline-block;
	padding: 0px;
	margin: 0px;
}
#drag4 {
	float: left;
	display: inline-block;
	padding: 0px;
	margin: 0px;
}
#drag5 {
	float: left;
	display: inline-block;
	padding: 0px;
	margin: 0px;
}
#drag6 {
	float: left;
	display: inline-block;
	padding: 0px;
	margin: 0px;
}
body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	background-color: #000;
	background: -webkit-gradient(linear, left top, left bottom, from(#D9A300), to(##3F330C));
	background: -webkit-linear-gradient(top, #D9A300, #3F330C);
	background: -moz-linear-gradient(top, #D9A300, #3F330C);
	background: -ms-linear-gradient(top, #D9A300, #3F330C);
	background: -o-linear-gradient(top, #D9A300, #3F330C);
	background-image: -ms-linear-gradient(top, #D9A300 0%, #3F330C 100%);
	background-size: 100% 100%;
	margin: 0;
}
.form-field {
	border: 2px solid #000000;
	background: #6b6b6b;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	color: #b3b3b3;
	-webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
	-moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
	box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
	padding: 8px;
	margin-bottom: 20px;
	width: 280px;
}
.form-field:focus {
	background: #CCC;
	color: #000000;
}
h1, h2 {
	color: black;
}
.hidden {
	visibility: hidden;
}
.submit-button {
	border: 2px solid #000000;
	background: #7bff00;
	background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#7bff00));
	background: -webkit-linear-gradient(top, #8dc059, #7bff00);
	background: -moz-linear-gradient(top, #8dc059, #7bff00);
	background: -ms-linear-gradient(top, #8dc059, #7bff00);
	background: -o-linear-gradient(top, #8dc059, #7bff00);
	background-image: -ms-linear-gradient(top, #8dc059 0%, #7bff00 100%);
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
	-moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
	box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
	text-shadow: #ffffff 0 1px 0;
	color: #000000;
	font-family: helvetica, serif;
	padding: 8.5px 18px;
	font-size: 14px;
	text-decoration: none;
	vertical-align: middle;
}
.submit-button:hover {
	border: 2px solid #447314;
	text-shadow: #31540c 0 1px 0;
	background: #6aa436;
	background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
	background: -webkit-linear-gradient(top, #8dc059, #6aa436);
	background: -moz-linear-gradient(top, #8dc059, #6aa436);
	background: -ms-linear-gradient(top, #8dc059, #6aa436);
	background: -o-linear-gradient(top, #8dc059, #6aa436);
	background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
	color: #fff;
}
.submit-button:active {
	text-shadow: #31540c 0 1px 0;
	border: 2px solid #447314;
	background: #8dc059;
	background: -webkit-gradient(linear, left top, left bottom, from(#6aa436), to(#6aa436));
	background: -webkit-linear-gradient(top, #6aa436, #8dc059);
	background: -moz-linear-gradient(top, #6aa436, #8dc059);
	background: -ms-linear-gradient(top, #6aa436, #8dc059);
	background: -o-linear-gradient(top, #6aa436, #8dc059);
	background-image: -ms-linear-gradient(top, #6aa436 0%, #8dc059 100%);
	color: #fff;
}
